<!doctype html>
<title> Unauthorized</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css')}}">
<h1> User must create a <a href='/login'>login</a></h1>
<h1> or <a href='/register'>make an account</a></h1>


<ul>
    <li><a href='/albums'>View Your Albums/Photos</a> </li>
    <li><a href='/upload'>Upload a photo</a> </li>
    <li><a href='/browse'>Browse All Photos</a> </li>
    <li><a href='/friends'>Friends</a> </li>
    <li><a href='/friend_recommendation'>Friend Recommendations</a> </li>
    <li><a href='/popular_tags'>Popular Tags</a> </li>
    <li><a href='/photo_search'>Photo Search With Tags</a> </li>
    <li><a href='/photo_search_caption'>Photo Search With Caption</a> </li>
    <li><a href='/comment_search'>Comment Search</a> </li>
    <li><a href='/logout'>Logout</a></li>
    <li><a href='/'>Home</a></li>
</ul>